html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.readmore {
  font-size: 0.875rem;
  text-align: center;
}
.readmore a {
  padding-bottom: 1px;
  color: #333;
  position: relative;
}
.readmore a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333;
  transition: all 200ms ease;
}
.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

#header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}
#header .site-title {
  padding: 20px 16px;
  line-height: 1px;
}
#header .site-title a {
  display: inline-block;
}

#navi {
  background-color: #333;
  overflow-x: scroll;
}
#navi ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#navi li {
  font-size: 0.875rem;
  color: #fff;
  padding: 10px 60px 10px 0px;
}

#pickup {
  margin-bottom: 60px;
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  #pickup {
    flex-direction: column;
    padding-top: 140px;
  }
}
#pickup article {
  width: 32%;
}
@media screen and (max-width: 767px) {
  #pickup article {
    width: 100%;
    margin-bottom: 30px;
  }
}
#pickup .article-title {
  margin: 10px 0px 15px;
  font-size: 1rem;
}

#container {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  #container {
    flex-direction: column;
  }
}

main {
  width: 65%;
}
@media screen and (max-width: 767px) {
  main {
    width: 100%;
  }
}
main article {
  margin-bottom: 80px;
}
main .article-title {
  font-size: 1.5rem;
  margin: 10px 0px 15px;
}
main ul {
  display: flex;
  margin-bottom: 10px;
}
main li {
  margin-right: 20px;
  font-size: 0.875rem;
}
main .text {
  padding: 10px 40px 30px;
}

#sidebar {
  width: 33%;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  #sidebar {
    width: 100%;
    padding: 0;
  }
}
#sidebar .side-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}
#sidebar .author {
  text-align: center;
  margin-bottom: 60px;
}
#sidebar .author img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
}
#sidebar .author p {
  font-size: 0.875rem;
  text-align: left;
}
#sidebar .ranking {
  text-align: center;
  margin-bottom: 60px;
}
#sidebar .ranking .ranking-title {
  text-align: left;
  font-size: 0.875rem;
  font-weight: normal;
}
#sidebar .ranking article {
  margin-bottom: 30px;
}
#sidebar .archive {
  text-align: center;
  margin-bottom: 60px;
}
#sidebar .archive ul {
  border-bottom: solid 1px #777;
}
#sidebar .archive li {
  padding: 20px;
  font-size: 0.875rem;
  border-top: solid 1px #777;
  text-align: left;
}

#footer {
  font-size: 0.875rem;
  background-color: #f7f7f7;
}
#footer .content {
  padding: 50px 16px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  #footer .content {
    flex-direction: column;
  }
}
#footer .item {
  width: 30%;
}
@media screen and (max-width: 767px) {
  #footer .item {
    width: 100%;
    margin-bottom: 30px;
  }
}
#footer .footer-title {
  font-size: 1.125rem;
  margin-bottom: 30px;
}
#footer ul.about-list {
  margin: 20px 0px;
}
#footer ul.about-list li {
  margin-bottom: 5px;
}
#footer ul.about-list .arrow {
  position: relative;
  display: inline-block;
  padding-left: 12px;
  color: #333;
}
#footer ul.about-list .arrow::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0px 6px 8px;
  border-color: transparent transparent transparent #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}
#footer ul.menu-list {
  border-bottom: solid 1px #777;
}
#footer ul.menu-list li {
  border-top: solid 1px #777;
  padding: 15px;
  text-align: left;
}
#footer .copyright {
  font-size: 0.75rem;
  padding: 10px 0;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */