@charset "UTF-8";

@use "mixin" as m;

$color: #333;
$font-size: 0.875rem;

html {
    font-size: 100%;
}

body {
    color: $color;
    font-size: 1rem;
    font-family: 'Noto Sans', 'Noto Sans JP',sans-serif;
}

a {
    color: $color;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li{
    list-style: none;
}

//コンテンツ幅を調整するための共通クラス
.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.readmore {
    font-size: 0.875rem;
    text-align: center;
    //擬似要素で下線を設定するために'position: relative;'
    a {
        padding-bottom: 1px;
        color: $color;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            left: 0;
            bottom:0;
            background: $color;
            transition: all 200ms ease;
        }
        &:hover::after {
            opacity: 0;
            transform: translateY(3px);
        }
    }
}

//header
#header {
    width: 100%;
    background-color: #fff;
    //最前列で固定表示
    position: fixed;
    z-index: 10;
    .site-title {
        padding: 20px 16px;
        line-height: 1px;
        a {
            display: inline-block;
        }
    }
}

//navi
#navi {
    background-color: $color;
    overflow-x: scroll;
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    li {
        font-size: $font-size;
        color: #fff;
        padding: 10px 60px 10px 0px;
    }
}

//pickup
#pickup {
    margin-bottom: 60px;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    @include m.mq(sp) {
        flex-direction: column;
        padding-top: 140px;
    }
    article {
        width: 32%;
        @include m.mq(sp) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .article-title {
        margin: 10px 0px 15px;
        font-size: 1rem;
    }
}

//container
#container {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    @include m.mq(sp) {
        flex-direction: column;
    }
}
main {
    width: 65%;
    @include m.mq(sp) {
        width: 100%;
    }
    article {
        margin-bottom: 80px;
    }
    .article-title {
        font-size: 1.5rem;
        margin: 10px 0px 15px;
    }
    ul {
        display: flex;
        margin-bottom: 10px;
    }
    li {
        margin-right: 20px;
        font-size: $font-size;
    }
    .text {
        padding: 10px 40px 30px;
    }
}

//sidebar
#sidebar {
    width: 33%;
    padding: 20px;
    @include m.mq(sp) {
        width: 100%;
        padding: 0;
    }
    .side-title {
        font-size: 1.125rem;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .author {
        text-align: center;
        margin-bottom: 60px;
        img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            margin-bottom: 30px;
        }
        p {
            font-size: $font-size;
            text-align: left;
        }
    }
    .ranking {
        text-align: center;
        margin-bottom: 60px;
        .ranking-title {
            text-align: left;
            font-size: $font-size;
            font-weight: normal;
        }
        article {
            margin-bottom: 30px;
        }
    }
    .archive {
        text-align: center;
        margin-bottom: 60px;
        ul {
            border-bottom: solid 1px #777;
        }
        li {
            padding: 20px;
            font-size: $font-size;
            border-top: solid 1px #777;
            text-align: left;
        }
    }
}

//footer
#footer {
    font-size: $font-size;
    background-color: #f7f7f7;
    .content {
        padding: 50px 16px;
        display: flex;
        justify-content: space-between;
        @include m.mq(sp) {
            flex-direction: column;
        }
    }
    .item {
        width: 30%;
        @include m.mq(sp) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .footer-title {
        font-size: 1.125rem;
        margin-bottom: 30px;
    }
    ul.about-list {
        margin: 20px 0px;
        li {
            margin-bottom: 5px;
        }
        .arrow {
            position: relative;
            display: inline-block;
            padding-left: 12px;
            color: #333;
            &::before {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 0px 6px 8px ;
                border-color: transparent transparent transparent #333;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -6px;
            }
        }
    }
    ul.menu-list {
        border-bottom: solid 1px #777;
        li {
            border-top: solid 1px #777;
            padding: 15px;
            text-align: left;
        }
    }
    .copyright {
        font-size: 0.750rem;
        padding: 10px 0;
        text-align: center;
    }
}